asttokens
backcall
blinker
click
colorama
comm
debugpy
decorator
exceptiongroup
executing
Flask
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core==
MarkupSafe
matplotlib-inline
mysql-connector
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
wcwidth
Werkzeug